body {
background: whitesmoke;
}

header{

    display: flex;
    padding: 10px 150px ;
    font-size: 20px;
    color: #969696;
    font-family: Arial;
}



header nav ul li{
    display: table-cell;
    padding: 1em;
    color: rgb(214, 52, 52);
    background: #444;
    font-weight: bold;

}

header img {
    position: absolute;
    margin-left: 0;
    display: inline-block;
}

header nav ul  {

    margin-right: 10px;
    padding: 0;
    overflow: hidden;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}




main div { 
    
    margin: 30px 160px 15px 160px;
}

    
#first{

  display: block;
  margin-left: auto;
  margin-right: auto;  
  padding: 10px;

 }

 .e01{
    display: flex;
    margin-left: 230px;
 }

 main article img {
     padding: 20px;
 }

 main section {

    margin: 30px 160px 15px 160px;

 }
 main section img {
     display: inline-block;
     margin: 0px 0px 15px 80px;
 }

 
  
 main section p {
     display: inline-block;
     width: 500px;


 }



footer{
    margin-top: 15px ;
    clear: both;
    height: 150px;
    background-color: #444;
}

